{% extends 'base.html' %}
{% load widget_tweaks %}
{% load partials %}
{% load static %}
{% load i18n %}
{% load allauth account socialaccount %}
{% block content %}
    <div class="flex min-h-screen items-center justify-center bg-base-200">
        <div class="m-4 min-h-[50vh] w-full max-w-sm lg:max-w-4xl">
            <!-- Logo -->
            <div class="flex items-center justify-center gap-2 p-8">
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 1024 1024"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect x="256" y="670.72" width="512" height="256" rx="128" class="fill-base-content" />
                    <circle cx="512" cy="353.28" r="256" class="fill-base-content" />
                    <circle
                        cx="512"
                        cy="353.28"
                        r="261"
                        stroke="black"
                        stroke-opacity="0.2"
                        stroke-width="10" />
                    <circle cx="512" cy="353.28" r="114.688" class="fill-base-200" />
                </svg>
                <h1 class="text-lg font-bold">{% trans "Set Your Password" %}</h1>
            </div>
            <!-- /Logo -->
            <main class="grid bg-base-100 lg:aspect-[2/1] lg:grid-cols-2">
                <!-- Image -->
                <figure class="pointer-events-none bg-base-300 object-cover max-lg:hidden">
                    <img src="{% static 'logos/logo.png' %}" alt="{% trans 'Set Password' %}" class="h-full">
                </figure>
                <!-- /Image -->
                <!-- Set Password Form -->
                <form method="post" action="{% url 'account_set_password' %}" class="flex flex-col justify-center gap-4 px-10 py-10 lg:px-16">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    
                    <!-- Success Message -->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success text-xs">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    <!-- New Password -->
                    <div class="form-control">
                        <label class="label" for="id_new_password1">
                            <span class="label-text">{% trans "New Password" %}</span>
                        </label>
                        <input
                            type="password"
                            id="id_new_password1"
                            name="new_password1"
                            placeholder="{% trans 'Enter new password' %}"
                            class="input input-bordered {% if form.new_password1.errors %}input-warning{% elif form.new_password1.value %}input-success{% endif %}"
                            required
                            minlength="6"
                            />
                        {% if form.new_password1.errors %}
                            <span class="error-message text-xs text-red-500">{{ form.new_password1.errors.as_text }}</span>
                        {% endif %}
                    </div>
           
