[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
django-extensions = "*"
django-widget-tweaks = "*"
django-template-partials = "*"
django-htmx = "*"
psycopg2-binary = "*"
lxml = "*"
python-dotenv = "*"
celery = "*"
django-cors-headers = "*"
requests = "*"
cryptography = "*"
django-redis = "*"
bleach = "*"
flower = "*"
django-celery-beat = "*"
django-celery-results = "*"
django-tables2 = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
htmx = "*"
tailwindcss = "*"
django-filter = "*"
whitenoise = "*"
channels = "*"
channels-redis = "*"
uvicorn = "*"
python-markdown-math = "*"
crispy-tailwind = "*"
django-daisy = "*"
django-templated-mail = "*"
weasyprint = "*"
docker = "*"
plotly = "*"
django-tailwind = "*"
django-ckeditor-5 = "*"
djangorestframework-simplejwt = "*"
beautifulsoup4 = "*"
exceptiongroup = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3"
